<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <div class="menu">
        <ul class="menu">
          <li class="menu-text">BusinessContacts</li>
        </ul>
      </div>
    </div>
    <div class="top-bar-right">

    </div>
  </div>
</div>
<br>
<div *ngIf="appState == 'default'" class="row">
  <div class="large-6 columns">
    <button class="button" (click)="changeState('add')">Add Business</button>
  </div>  
  <div class="large-6 columns">
    <label>Filter Category</label>
    <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
      <option value="0">Select</option>
      <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
    </select>
  </div>
</div>
<br>
<!-- add business-->
<div *ngIf="appState == 'add'">
  <div class="row">
    <h3>Add Business</h3>
    <form (submit)="addBusiness(
      company.value,
      category.value,
      years_in_business.value,
      description.value,
      phone.value,
      email.value,
      street_address.value,
      city.value,
      state.value,
      zipcode.value
    )">
      <div class="row">
          <div class="large-6 columns">
            <label>Company</label>
            <input type="text" placeholder="Company Name" #company>
          </div>
          <div class="large-6 columns">
            <label>category</label>
            <select #category>
              <option value="0">Select</option>
              <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
            </select>
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>Years in Business</label>
            <input type="text" placeholder="Years in business" #years_in_business>
          </div>
          <div class="medium-6 columns">
            <label>Description</label>
            <textarea #description placeholder="Description"></textarea>
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>Phone</label>
            <input type="text" placeholder="Contact Number" #phone>
          </div>
          <div class="medium-6 columns">
            <label>Email</label>
            <input type="text" #email placeholder="email">
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>Street Address</label>
            <input type="text" placeholder="Street Address" #street_address>
          </div>
          <div class="medium-6 columns">
            <label>City</label>
            <input type="text" #city placeholder="City">
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>State</label>
            <input type="text" placeholder="State" #state>
          </div>
          <div class="medium-6 columns">
            <label>Zip Code</label>
            <input type="text" #zipcode placeholder="Zip Code">
          </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
<!-- edit business-->
<div *ngIf="appState == 'edit'">
  <div class="row">
    <h3>Edit Business</h3>
    <form (submit)="updateBusiness()">
      <div class="row">
          <div class="large-6 columns">
            <label>Company</label>
            <input type="text" [(ngModel)]="Activecompany" name="Activecompany" placeholder="Company Name" #company>
          </div>
          <div class="large-6 columns">
            <label>category</label>
            <select #category [(ngModel)]="Activecategory" name="Activecategory">
              <option value="0">Select</option>
              <option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</option>
            </select>
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>Years in Business</label>
            <input type="text" [(ngModel)]="Activeyears_in_business" name="Activeyears_in_business" placeholder="Years in business" #years_in_business>
          </div>
          <div class="medium-6 columns">
            <label>Description</label>
            <textarea #description [(ngModel)]="Activedescription" name="Activedescription" placeholder="Description"></textarea>
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>Phone</label>
            <input type="text" [(ngModel)]="Activephone" name="Activephone" placeholder="Contact Number" #phone>
          </div>
          <div class="medium-6 columns">
            <label>Email</label>
            <input type="text" [(ngModel)]="Activeemail" name="Activeemail" #email placeholder="email">
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>Street Address</label>
            <input type="text" [(ngModel)]="Activestreet_address" name="Activestreet_address" placeholder="Street Address" #street_address>
          </div>
          <div class="medium-6 columns">
            <label>City</label>
            <input type="text" [(ngModel)]="Activecity" name="Activecity" #city placeholder="City">
          </div>
      </div>
      <div class="row">
          <div class="medium-6 columns">
            <label>State</label>
            <input type="text" [(ngModel)]="Activestate" name="Activestate" placeholder="State" #state>
          </div>
          <div class="medium-6 columns">
            <label>Zip Code</label>
            <input type="text" [(ngModel)]="Activezipcode" name="Activezipcode" #zipcode placeholder="Zip Code">
          </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <input type="submit" class="button" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="appState == 'extend'">
  <div class="row">
    <div class="large-12 large-1-offset columns">
      <button class="button alert" (click)="changeState('default')">Go Back</button>
    </div>
  </div>
  <div *ngFor="let business of businesses">
    <div *ngIf="business.$key == activeKey">
        <div class="row">
          <div class="large-5 large-offset-1 columns">
            <h3>{{business.Company}}</h3>
            <p>Business Category: {{business.category}}</p>
            <p>Years in business: {{business.years_in_business}}</p>
            <p>{{business.description}}</p>
          </div>
          <div class="large-5 large-offset-1 columns">
            <h4>Contact Info</h4>
            <ul>
              <li>Phone: {{business.phone}}</li>
              <li>Email: {{business.email}}</li>
              <li>Street: {{business.street_address}}</li>
              <li>City: {{business.city}}</li>
              <li>State: {{business.state}}</li>
              <li>Zip Code: {{business.zipcode}}</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div *ngIf="businesses">
      <table>
        <thead>
          <tr>
            <th>Company</th>
            <th>Category</th>
            <th>Phone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let business of businesses">
            <td>{{business.Company}}</td>
            <td>{{business.category}}</td>
            <td>{{business.phone}}</td>
            <td>
              <button (click)="changeState('extend', business.$key)" class="button">More</button>
              <button (click)="showEdit(business)" class="button secondary">Edit</button>
              <button (click)="deleteBusiness(business.$key)" class="button alert">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>